# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
category_equations/*.py[cod]
__pycache__/
category_equations/__pycache__/
.vscode/
*.so
*~

# due to using tox and pytest
.tox
.cache